body {
    margin: 0 auto;
    max-width: 50em;

}
li {
    margin-top: 10px;
}
.middle-section {
    background-color: rgb(202, 202, 202);
    padding: 5px;
    display:flex;
    justify-content: space-around;
    margin:0px auto;
}